header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px 0 32px 0;
  flex-wrap: wrap;

  span {
    flex-wrap: wrap;
    margin-bottom: 8px;
    select {
      margin-left: 4px;
    }
  }

  p {
    text-align: center;
  }
}

.relative-wrapper {
  position: relative;
  display: inline-block;

  .absolute-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-form {
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.input-error{
  color: var(--error);
  font-size: 16px;
}

#add-option {
  margin: 8px 0;
}

.options-list{
  list-style: none;
  padding-left: 0;

  li {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

span.option {
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(88, 156, 183);
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
}

span.option.selected{
  background-color: rgb(47, 173, 47);
}

footer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert {
  margin: 8px;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;

  @media screen and (min-width: 800px) {
    margin: 8px auto;
    width: 70%;
  }

  svg {
    margin-right: 16px;
    flex-shrink: 0;
  }

  &.info {
    background-color: var(--primary-bg);
    color: var(--primary);
    border: 2px solid var(--primary);
  }
  &.warning {
    background-color: var(--warning-light);
    color: var(--warning);
    border: 2px solid var(--warning);
  }
  &.success {
    background-color: var(--success-light);
    color: var(--success);
    border: 2px solid var(--success);
  }
  &.danger {
    background-color: var(--error-light);
    color: var(--error);
    border: 2px solid var(--error);
  }
}

.review-questions-list{
  display: grid;
  gap: 16px;
}

.review-question-wrapper{
  display: flex;
  align-items: center;
  /* THE FIX: Tells mobile browsers NOT to scroll when touching this item */
  touch-action: "none";
  /* 2. Stops iOS Safari/Chrome from popping up the "Save Image" menu */
  -webkit-touch-callout: "none";

  &.drag-active {
    opacity: 0.3;
  }

  >span{
    margin-right: 8px;
  }
}

.review-question-card-wrapper{
  flex: 1;
  
  &.drag-active {
    opacity: 0;
  }
}

.review-question-card {
  position: relative;
  background-color: rgb(44, 44, 44);
  border: 4px solid black;
  padding: 0 8px;
  border-radius: 8px;

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .answer {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--success);
    width: 90%;
    border-radius: 0 0 8px 8px;
    border: 4px solid rgb(0, 70, 0);
    padding: 0 16px;

    &.show {
      display: block;
      transform: translate(-50%, 104%);
    }
  }

  .actions {
    margin: 4px 0;
    display: flex;
    align-items: center;
    button {
      margin: 4px; 

      &.success {
        display: flex;
        align-items: center;
        align-self: stretch;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;

      button.success {
        height: 34px;
      }
    }
  }
}

dialog[open] {
  display: flex;
  align-items: flex-start;
  border-radius: 16px;
}

#dialog-content{
  padding: 24px 16px 24px 32px;
  text-align: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px); 
}

.rotate180 {
  transform: rotate(180deg);
}