/******************* COMMON GLOBAL STYLES ******************/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 16px 0 40px 0;
  flex-wrap: wrap;

  span {
    flex-wrap: wrap;
    
    @media screen and (max-width: 600px) {
      margin: 8px 0;
    }

    select {
      margin-left: 4px;
    }
  }

  p {
    text-align: center;
  }

  .back{
    @media screen and (max-width: 600px) {
      width: 100%;
    }

    button {
      width: auto;
    }
  }
}

.relative-wrapper {
  position: relative;
  display: inline-block;

  .absolute-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin: 2px;
    margin-top: 4px;

    span > * {
      width: 100%;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate180 {
  transform: rotate(180deg);
}

.mr-8{
  margin-right: 8px;
}


/******************* ALERT STYLES ******************/
.alert {
  margin: 8px;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;

  @media screen and (min-width: 800px) {
    margin: 8px auto;
    width: 70%;
  }

  >svg {
    margin-right: 16px;
    flex-shrink: 0;
  }

  &.info {
    background-color: var(--primary-bg);
    color: var(--primary);
    border: 2px solid var(--primary);
  }
  &.warning {
    background-color: var(--warning-light);
    color: var(--warning);
    border: 2px solid var(--warning);
  }
  &.success {
    background-color: var(--success-light);
    color: var(--success);
    border: 2px solid var(--success);
  }
  &.danger {
    background-color: var(--error-light);
    color: var(--error);
    border: 2px solid var(--error);
  }
}


/******************* DIALOG/MODAL STYLES ******************/
dialog[open] {
  display: flex;
  align-items: flex-start;
  border-radius: 16px;
  max-width: 85vw;
}

.dialog-content{
  padding: 24px 0 24px 32px;
  text-align: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px); 
}


/******************* MAIN HOME STYLES ******************/
.main-home {
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    line-height: 1.4;
  }
  svg {
    width: 400px;

    @media screen and (max-width: 600px) {
      width: 60%;
    }
  }

  p {
    font-weight: 700;
  }

  small {
    color: var(--text-h);
  }

  .flex {
    margin-top: 40px;
  }
}


/******************* QUESTION FORM STYLES ******************/
#question-input {
  field-sizing: content;

  min-height: 2rem; /* Set a starting height */
  max-height: 10rem; /* Stop expanding after a certain height */
  resize: none; /* Hide the manual drag-to-resize handle */
}

.question-form {
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.input-error{
  color: var(--error);
  font-size: 16px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

#add-option {
  margin: 8px 0;
}

.options-list{
  list-style: none;
  padding-left: 0;
  margin-top: 0;

  li {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}

span.option {
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
  background-color: var(--primary);
  padding: 8px 16px;
  border-radius: 6px;
  color: white;

  @media screen and (max-width: 600px) {
    padding: 4px 8px;
  }
}

span.option.selected{
  background-color: var(--success);
}

.question-answer-footer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/******************* REVIEW QUESTIONS STYLES ******************/
.review-questions-list{
  display: grid;
  gap: 16px;
}

.review-question-wrapper{
  display: flex;
  align-items: center;
  /* THE FIX: Tells mobile browsers NOT to scroll when touching this item */
  touch-action: "none";
  /* 2. Stops iOS Safari/Chrome from popping up the "Save Image" menu */
  -webkit-touch-callout: "none";

  &.drag-active {
    opacity: 0.3;
  }

  >span{
    margin-right: 8px;
  }
}

.review-question-card {
  flex: 1;
  
  &.drag-active {
    opacity: 0;
    transform: rotate(3deg);
    box-shadow: var(--shadow);
  }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-bg);
    border: 4px solid black;
    padding: 0 8px;
    border-radius: 8px;

    h3 {
      margin-right: 4px;
    }
  }

  .answer { 
    margin: 0 auto;
    width: 90%;
    background-color: var(--success-light);
    border-radius: 0 0 8px 8px;
    border: 4px solid var(--success);
    padding: 0 16px;

    @media screen and (max-width: 600px) {
      width: 80%;
    }
  }

  .actions {
    .absolute-wrapper button {
      margin: 2px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: max-content;
      background-color: var(--bg);

      :last-child {
        margin-left: 8px;
      }
      svg {
        transition: transform 0.2s;
      }
    }
  }
}


/******************* RESULT STYLES ******************/
.main-results {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  >button {
    margin: 40px auto 0 auto;
  }
}

.result-item {
  .question-wrapper {
    margin-top: 16px;
    display: flex;
    align-items: center;

    span {
      margin-right: 8px;
    }

    .question-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      background-color: var(--card-bg);
      border: 4px solid black;
      padding: 0 8px;
      border-radius: 8px;

      button svg {
        transition: transform 0.2s;
      }
    }
  }

  .answers-wrapper {
    display: flex;
    align-items: center;
    >span {
      opacity: 0;
    }
    .answers {
      margin: 0 16px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex: 1;

      :first-child {
        background-color: var(--success-light);
        border-radius: 0 0 0 8px;
        border: 4px solid var(--success);
        padding: 16px;
      }
      :last-child {
        background-color: var(--primary-bg);
        border-radius: 0 0 8px 0;
        border: 4px solid var(--primary);
        padding: 16px;
      }

      .danger{
        background-color: var(--error-light);
        border: 4px solid var(--error);
      }


      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;

        :first-child {
          border-radius: 0;
        }
        :last-child {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }
  
}