@font-face {
  font-family: Linksans;
  src: url('./assets/fonts/LinkSans-Regular.woff2')format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: Linksans;
    src: url('./assets/fonts/LinkSans-Medium.woff2')format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: Linksans;
  src: url('./assets/fonts//LinkSans-ExtraBold.woff2')format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #6366f1;
  --primary-bg: #818df832;
  --warning: yellow;
  --warning-light: rgba(255, 255, 0, 0.2);
  --success: green;
  --success-light: rgba(0, 128, 0, 0.2);
  --error: red;
  --error-light: rgba(255, 0, 0, 0.2);
  --form-elements-color: #FB7185;
  --form-elements-bg: #fb718629;
  --dark-gray: rgb(44,44,44);
  --text: #1E293B;
  --text-h: #64748B;
  --bg: #F8FAFC;
  --card-bg: white;
  --border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: Linksans;
  --heading: Linksans;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  &:not([data-theme="light"]) {
    --primary: #818CF8;
    --primary-bg: #818df832;
    --form-elements-color: #FDA4AF;
    --form-elements-bg: #fda4ae2b;
    --text: #F8FAFC;
    --text-h: #94A3B8;
    --bg: #0F172A;
    --card-bg: rgb(44,44,44);
    --border: #2e303a;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

html[data-theme="dark"] {
  --primary: #818CF8;
  --primary-bg: #818df832;
  --form-elements-color: #FDA4AF;
  --form-elements-bg: #fda4ae2b;
  --text: #F8FAFC;
  --text-h: #94A3B8;
  --bg: #0F172A;
  --card-bg: rgb(44,44,44);
  --border: #2e303a;
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    padding: 0 8px;
  }
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  color: var(--text-h);
  font-weight: 900;
}

main {
  margin: 40px 2%;
}

input, select, textarea, option {
  font-family: var(--sans);
  color: var(--text);
  background-color: var(--form-elements-bg);
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  font-size: 24px;
  outline: none; 
  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    padding: 4px 8px;
  }
}

select, option {
  font-size: 16px;
}

option {
  background-color: var(--bg);
}

textarea {
  width: 100%;
}


button {
  font-family: var(--sans);
  margin: 2px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--primary-bg);
  font-weight: bold;
  font-size: 16px;

  &.big {
    font-size: 20px;
    padding: 12px 20px;
  }

  &.bordered {
    border: 2px solid var(--primary);
  }

  &.warning {
    color: var(--warning);
    background-color: var(--warning-light);

    &.bordered {
      border: 2px solid var(--warning);
    }
  }
  &.success {
    color: var(--success);
    background-color: var(--success-light);

    &.bordered {
      border: 2px solid var(--success);
    }
  }
  &.error {
    color: var(--error);
    background-color: var(--error-light);
    
    &.bordered {
      border: 2px solid var(--error);
    }
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

button.back {
  display: flex;
  align-items: center;
  svg{
    margin-right: 8px;
    transform: rotate(90deg);
  }
}